Untitled.ipynb
clean_taxis.csv
taxi_zone_lookup.csv
Location.csv
RateCode.csv
PaymentType.csv
tablas.zip
Vendor.csv
TaxiTrip.csv
tablas
2021_Green_Taxi_Trip_Data_20240929_filtered.csv
2021_Yellow_Taxi_Trip_Data_20240928.csv
clean_locations.csv
taxis_filtered2.csv
